# environment variables
export CLOUDSDK_CORE_DISABLE_PROMPTS := 1
ifndef CLOUDSDK_ACTIVE_CONFIG_NAME
export CLOUDSDK_ACTIVE_CONFIG_NAME := _your_gcp_env_here_
endif
ifndef CLOUDSDK_CORE_PROJECT
export CLOUDSDK_CORE_PROJECT := _your_gcp_project_here_ # e.g. budget-alerts
endif
ifndef CLOUDSDK_COMPUTE_REGION
export CLOUDSDK_COMPUTE_REGION := _gcp_region_to_run_in_ # e.g. us-central1
endif
ifndef CLOUDSDK_COMPUTE_ZONE
export CLOUDSDK_COMPUTE_ZONE := _gcp_zone_to_run_in_ # e.g. us-central1-a
endif
ifndef CLOUDSDK_RUN_PLATFORM
export CLOUDSDK_RUN_PLATFORM := managed
endif
ifndef CLOUDSDK_RUN_REGION
export CLOUDSDK_RUN_REGION := _gcp_region_to_run_in_ # e.g. us-central1
endif
ifndef CLOUDSDK_SERVICE_ACCOUNT
export CLOUDSDK_SERVICE_ACCOUNT := slack-notifier@$(CLOUDSDK_CORE_PROJECT).iam.gserviceaccount.com
endif
ifndef GOOGLE_APPLICATION_CREDENTIALS
export GOOGLE_APPLICATION_CREDENTIALS := gcp-slack-notifier.key
endif

# make variables: set if not given, override if you don't like the defaults
GOOGLE_PROJECT_NUMBER := _gcp_project_number_ # 12-digit "Project number" available in the GCP Dashboard
#API_SECRET_PATH := projects/$(GOOGLE_PROJECT_NUMBER)/secrets/gcp-slack-notifier-SLACK_API_TOKEN
#CLOUD_FUNCTION := slack-budget-notification
#PUBSUB_TOPIC := billing-alerts
#SLACK_CHANNEL := "\#google-cloud"
