-i https://pypi.org/simple/
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
cachetools==4.2.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
flask==1.1.4
functions-framework==1.4.4
google-api-core[grpc]==1.28.0
google-auth==1.30.1
google-cloud-secret-manager==1.0.0
googleapis-common-protos[grpc]==1.53.0
grpc-google-iam-v1==0.12.3
grpcio==1.38.0
gunicorn==20.1.0 ; platform_system != 'Windows'
idna==2.10
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==2.0.1
multidict==5.1.0
packaging==20.9
parse==1.15.0
protobuf==3.17.1
pyasn1-modules==0.2.8
pyasn1==0.4.8
pyparsing==2.4.7
pytz==2021.1
requests==2.25.1
rsa==4.7.2 ; python_version >= '3.6'
six==1.16.0
slackclient==2.7.2
typing-extensions==3.10.0.0 ; python_version < '3.8'
urllib3==1.26.5
watchdog==2.1.2
werkzeug==1.0.1
yarl==1.6.3
